<!-- wp:template-part {"slug":"header","theme":"creative-minimalist","tagName":"header"} /-->

<!-- wp:pattern {"slug": "creative-minimalist/contact-005"} /-->

<!-- wp:pattern {"slug": "creative-minimalist/content-012"} /-->

<!-- wp:pattern {"slug": "creative-minimalist/testimonial-003"} /-->

<!-- wp:pattern {"slug": "creative-minimalist/contact-011"} /-->

<!-- wp:pattern {"slug": "creative-minimalist/cta-005"} /-->


<!-- wp:template-part {"slug":"footer","theme":"creative-minimalist","area":"footer"} /-->