<!-- wp:template-part {"slug":"header","theme":"creative-minimalist","tagName":"header"} /-->

<!-- wp:pattern {"slug": "creative-minimalist/header-008"} /-->

<!-- wp:pattern {"slug": "creative-minimalist/content-011"} /-->

<!-- wp:pattern {"slug": "creative-minimalist/content-012"} /-->

<!-- wp:pattern {"slug": "creative-minimalist/content-013"} /-->

<!-- wp:pattern {"slug": "creative-minimalist/content-014"} /-->

<!-- wp:pattern {"slug": "creative-minimalist/cta-005"} /-->

<!-- wp:template-part {"slug":"footer","theme":"creative-minimalist","area":"footer"} /-->