body{
    --sugupta--font-body:Archivo;
    --sugupta--font-site-title:Archivo;
    --sugupta--font-navigation:Archivo;
    --sugupta--font-buttons:Archivo;
    --sugupta--font-heading-1:Archivo;
    --sugupta--font-heading-2:Archivo;
    --sugupta--font-heading-3:Archivo;
    --sugupta--font-heading-4:Archivo;
    --sugupta--font-heading-5:Archivo;
    --sugupta--font-heading-6:Archivo;
    --wpkoi--font-footer:Archivo;
    --wpkoi--font-fixed-side:Archivo;
    --sugupta--body-background:#f7cc18;
    --sugupta--text-color:#1f1c1d;
    --sugupta--link-color:#1f1c1d;
    --sugupta--link-color-hover:#333333;
    --sugupta--header-background-color:#ff7a00;
    --sugupta--header-text-color:#1f1c1d;
    --sugupta--header-link-color:#1f1c1d;
    --sugupta--header-link-hover-color:#333333;
    --sugupta--sticky-header-background-color:#ff7a00;
    --sugupta--site-title-color:#1f1c1d;
    --sugupta--site-title-bg-color:#ffffff;
    --sugupta--navigation-text-color:#1f1c1d;
    --sugupta--navigation-text-hover-color:#1f1c1d;
    --sugupta--navigation-text-current_color:#1f1c1d;
    --sugupta--navigation-border-color:#1f1c1d;
    --sugupta--subnavigation-background-color:#1f1c1d;
    --sugupta--subnavigation-text-color:#ffffff;
    --sugupta--subnavigation-background-hover-color:#333333;
    --sugupta--subnavigation-text-hover-color:#ffffff;
    --sugupta--subnavigation-text-current-color:#ffffff;
    --sugupta--subnavigation-background-current-color:#333333;
    --sugupta--form-button-background-color:#F07DB4;
    --sugupta--form-button-background-color-hover:#1f1c1d;
    --sugupta--form-button-text-color:#1f1c1d;
    --sugupta--form-button-text-color-hover:#f7cc18;
    --sugupta--form-button-border-color:#1f1c1d;
    --sugupta--form-button-border-color-hover:#1f1c1d;
    --wpkoi--fixed-side-content-background-color:#1fbf6a;
    --wpkoi--fixed-side-content-text-color:#1f1c1d;
    --wpkoi--fixed-side-content-link-color:#1f1c1d;
    --wpkoi--fixed-side-content-link-hover-color:#555555;
    --wpkoi--back-to-top-background-color:#ffffff;
    --wpkoi--back-to-top-text-color:#1f1c1d;
    --wpkoi--back-to-top-background-color-hover:#1f1c1d;
    --wpkoi--back-to-top-text-color-hover:#ffffff;
    --sugupta--form-text-color:#1f1c1d;
    --sugupta--form-background-color:#ffffff;
    --sugupta--form-border-color:#1f1c1d;
    --sugupta--form-background-color-focus:#1f1c1d;
    --sugupta--form-text-color-focus:#ffffff;
    --sugupta--form-border-color-focus:#1f1c1d;
    --wpkoi--footer-text-color:#ffffff;
    --wpkoi--footer-background-color:#1f1c1d;
    --wpkoi--footer-link-color:#f7cc18;
    --wpkoi--footer-link-hover-color:#ffffff;
    --wpkoi--scrollbar-track-color:#1f1c1d;
    --wpkoi--scrollbar-thumb-color:#ff7a00;
    --wpkoi--scrollbar-thumb-hover-color:#ffffff;
    --sugupta--wc-sale-sticker-background:#1f1c1d;
    --sugupta--wc-sale-sticker-text:#ffffff;
    --sugupta--wc-price-color:#1f1c1d;
    --sugupta--wc-product-tab:#333333;
    --sugupta--wc-product-tab-highlight:#1f1c1d;
    --sugupta--desktop-logo-width:15vw;
    --sugupta--mobile-logo-width:25vw;
    --sugupta--navigation-items-spacing:0.5vw;
    --sugupta--navigation-items-width:0.5vw;
    --sugupta--navigation-items-height:1.8em;
    --sugupta--subnavigation-width:250px;
    --sugupta--button-border-style:solid;
    --sugupta--button-border:2px;
    --sugupta--button-radius:0px;
    --sugupta--button-rotate:rotate(0deg);
    --wpkoi--fixed-side-margin-top:250px;
    --wpkoi--fixed-side-margin-right:0px;
    --wpkoi--fixed-side-margin-bottom:0px;
    --wpkoi--fixed-side-margin-left:0px;
    --wpkoi--fixed-side-top:10px;
    --wpkoi--fixed-side-right:10px;
    --wpkoi--fixed-side-bottom:10px;
    --wpkoi--fixed-side-left:10px;
    --sugupta--button-top:10px;
    --sugupta--button-right:20px;
    --sugupta--button-bottom:10px;
    --sugupta--button-left:20px;
    --sugupta--container-width:1170px;
    --sugupta--header-top:0.2vw;
    --sugupta--header-right:6vw;
    --sugupta--header-bottom:0.2vw;
    --sugupta--header-left:6vw;
    --sugupta--mobile-header-top:1vw;
    --sugupta--mobile-header-right:6vw;
    --sugupta--mobile-header-bottom:1vw;
    --sugupta--mobile-header-left:6vw;
    --sugupta--site-title-top:0vw;
    --sugupta--site-title-right:1vw;
    --sugupta--site-title-bottom:0vw;
    --sugupta--site-title-left:1vw;
    --sugupta--mobile-site-title-top:0vw;
    --sugupta--mobile-site-title-right:1vw;
    --sugupta--mobile-site-title-bottom:0vw;
    --sugupta--mobile-site-title-left:1vw;
    --sugupta--content-top:4vw;
    --sugupta--content-right:6vw;
    --sugupta--content-bottom:4vw;
    --sugupta--content-left:6vw;
    --sugupta--mobile-content-top:4vw;
    --sugupta--mobile-content-right:6vw;
    --sugupta--mobile-content-bottom:4vw;
    --sugupta--mobile-content-left:6vw;
    --sugupta--side-top:0px;
    --sugupta--side-right:0px;
    --sugupta--side-bottom:0px;
    --sugupta--side-left:0px;
    --sugupta--mobile-side-top:0px;
    --sugupta--mobile-side-right:0px;
    --sugupta--mobile-side-bottom:0px;
    --sugupta--mobile-side-left:0px;
    --sugupta--side-padding-radius:0px;
    --sugupta--body-font-weight:600;
    --sugupta--body-font-transform:none;
    --sugupta--body-font-size:22px;
    --sugupta--mobile-body-font-size:22px;
    --sugupta--body-line-height:1.5;
    --sugupta--site-title-font-weight:900;
    --sugupta--site-title-font-transform:uppercase;
    --sugupta--site-title-font-size:2.8vw;
    --sugupta--mobile-site-title-font-size:5vw;
    --sugupta--navigation-font-weight:900;
    --sugupta--navigation-font-transform:uppercase;
    --sugupta--navigation-font-size:1.8vw;
    --sugupta--tablet-navigation-font-size:1.3vw;
    --sugupta--mobile-navigation-font-size:14px;
    --sugupta--buttons-font-weight:800;
    --sugupta--buttons-font-transform:uppercase;
    --sugupta--buttons-font-size:19px;
    --sugupta--mobile-buttons-font-size:19px;
    --sugupta--heading-1-weight:700;
    --sugupta--heading-1-transform:none;
    --sugupta--heading-1-font-size:60px;
    --sugupta--mobile-heading-1-font-size:30px;
    --sugupta--heading-1-line-height:1.2em;
    --sugupta--heading-2-weight:700;
    --sugupta--heading-2-transform:none;
    --sugupta--heading-2-font-size:32px;
    --sugupta--mobile-heading-2-font-size:25px;
    --sugupta--heading-2-line-height:1.2em;
    --sugupta--heading-3-weight:700;
    --sugupta--heading-3-transform:none;
    --sugupta--heading-3-font-size:25px;
    --sugupta--mobile-heading-3-font-size:25px;
    --sugupta--heading-3-line-height:1.2em;
    --sugupta--heading-4-weight:700;
    --sugupta--heading-4-transform:none;
    --sugupta--heading-4-font-size:20px;
    --sugupta--mobile-heading-4-font-size:20px;
    --sugupta--heading-4-line-height:1em;
    --sugupta--heading-5-weight:normal;
    --sugupta--heading-5-transform:none;
    --sugupta--heading-5-font-size:20px;
    --sugupta--mobile-heading-5-font-size:20px;
    --sugupta--heading-5-line-height:1em;
    --sugupta--heading-6-weight:normal;
    --sugupta--heading-6-transform:none;
    --sugupta--heading-6-font-size:20px;
    --sugupta--mobile-heading-6-font-size:20px;
    --sugupta--heading-6-line-height:1em;
    --wpkoi--footer-weight:300;
    --wpkoi--footer-transform:none;
    --wpkoi--footer-font-size:18px;
    --wpkoi--mobile-footer-font-size:18px;
    --wpkoi--fixed-side-font-weight:700;
    --wpkoi--fixed-side-font-transform:uppercase;
    --wpkoi--fixed-side-font-size:2vw;
    --wpkoi--mobile-fixed-side-font-size:22px;
    --sugupta--form-padding-top:0.8rem;
    --sugupta--form-padding-right:1rem;
    --sugupta--form-padding-bottom:0.8rem;
    --sugupta--form-padding-left:1rem;
    --sugupta--form-border-radius:0px;
    --sugupta--form-border-width:2px;
    --sugupta--form-border-style:solid;
    --sugupta--form-checkbox-size:30px;
    --sugupta--form-checkbox-innersize:18px;
    --sugupta--form-checkbox-padding:4px;
    --sugupta--form-checkbox-bordersize:2px;
    --wpkoi--nav-border-width:2px;
    --wpkoi--scrollbar-width:12px;
    --wpkoi--scrollbar-radius:0px;
}
